{% extends "admin_panel.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   {% block title %}

    <title>add code</title>{% endblock title %}
</head>
<body>
    {% block widget %}
    <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post" enctype="multipart/form-data">

                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                 <button type="submit">Create</button>
              </form>
            </div>
    {% endblock widget %}
</body>
</html>