{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "style.css" %}>
</head>
<body id="body">
    <div id="login-form">
        <div id="login-head">
             <h1>ورود</h1>
        </div>
   <div id="login-details">
        <form action="" >
             
             <div id="user">
        <input type="text" name="name" placeholder="نام کاربری">
        </div>
        
        <div id="pass">
        <input type="password" name="password" placeholder="رمز عبور">
        </div>

        <div id="submit">
        <input type="submit" value="ورود">
             </div>
        </form>

   </div>
</div>
    
</body>
</html>