<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="css/bootstrap-icon.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="style.css">
    <title>پنل مدیریت</title>
  </head>
  <body>
    <header>
      <section class="d-inine-block w-100 bg-white py-2">
        <div class="container-xxl">
          <div class="row align-items-center">
            <div class="col-lg-1 col-md-1 col-sm-2 col-3">
              <div class="logo-box">
                <img src="img/logo.png" alt="">
              </div>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-10 col-9">
              <div class="search-form-site">
                <form action="" class="w-100 position-relative overflow-hidden p-0">
                  <input type="text" placeholder="جستجو" name="" class="w-100 h-100 border-0 rounded py-0 m-0" required>
                  <button type="submit" class="position-absolute top-0 end-0 border-0 h-100 m-1 fs-4">
                    <i class="bi bi-search"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="col-lg-6 col-md-4 col-6 d-none d-md-inline-block">
              <div class="text-end position-relative">
                <span class="d-inline-block me-4 pe-4 border-end Header-Panel-Access position-relative">
                  <i class="bi bi-person fs-3 opacity-75"></i>
                  <div class="Header-Panel-Access-holder bg-white border border-light rounded position-absolute">
                    <ul class="p-0 m-0 text-start">
                      <li class="position-relative px-3 d-flex align-items-center">
                        <img src="img/Avatar.png" alt="" class="rounded-circle">
                        <a href="#" class="ms-2 py-4 d-block text-dark opacity-75">سئو نود</a>
                      </li>
                      <li class="position-relative px-3">
                        <i class="fs-5 pe-1 bi bi-bag"></i>
                        <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark opacity-75">سفارشات شما</a>
                      </li>
                      <li class="position-relative px-3">
                        <i class="fs-5 pe-1 bi bi-geo-alt"></i>
                        <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark opacity-75">آدرس ها</a>
                      </li>
                      <li class="position-relative px-3">
                        <i class="fs-5 pe-1 bi bi-heart-fill text-danger"></i>
                        <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark opacity-75">علاقمندی ها</a>
                      </li>
                      <li class="position-relative px-3">
                        <i class="fs-5 pe-1 bi bi-chat-right"></i>
                        <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark opacity-75">دیدگاه های ثبت شده</a>
                      </li>
                      <li class="position-relative px-3">
                        <i class="fs-5 pe-1 bi bi-toggle-off"></i>
                        <a href="#" class="ms-5 py-4 border-top border-light d-block text-dark opacity-75"> خروج از سایت</a>
                      </li>
                    </ul>
                  </div>
                </span>
                <span class="d-inline-block pe-4">
                  <a href="#" class="text-dark">
                    <i class="bi bi-basket fs-3 opacity-75"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="header-section">
        <div class="container-xxl">
          <div class="row align-items-center">
            <div class="col-md-8 d-none d-md-block">
              <div class="menu-box">
                <ul class="main-menu">
                  <li>
                    <a href="#">دسته بندی کالا ها</a>
                    <ul>
                      <li>
                        <a href="#">کالای دیجیتال</a>
                      </li>
                      <li>
                        <a href="#">موبایل</a>
                      </li>
                      <li>
                        <a href="#">خانه و آشپزخانه</a>
                      </li>
                      <li>
                        <a href="#">مد و پوشاک</a>
                      </li>
                      <li>
                        <a href="#">سوپرمارکت</a>
                      </li>
                      <li>
                        <a href="#">زیبایی و سلامت</a>
                      </li>
                      <li>
                        <a href="#">محصولات بومی</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">سوپرمارکت</a>
                  </li>
                  <li>
                    <a href="#">پرفروش ترین ها</a>
                  </li>
                  <li>
                    <a href="#">پیشنهادات</a>
                  </li>
                  <li>
                    <a href="#">سوالی دارید؟</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="responsive-menu-box">
                <ul class="p-0 m-0">
                  <li class="d-inline-block d-md-none">
                    <a data-bs-toggle="offcanvas" href="#offcanvasExample_2" aria-controls="offcanvasExample_2" class="text-dark d-inline-block px-2">
                      <i class="bi bi-list"></i>
                    </a>
                  </li>
                </ul>
              </div>
              </a>
            </div>
            <div class="col-md-4 col-6 d-md-none">
              <div class="text-end">
                <span class="d-inline-block me-4 pe-4 border-end">
                  <a href="#" class="text-dark">
                    <i class="bi bi-person fs-3 opacity-75"></i>
                  </a>
                </span>
                <span class="d-inline-block pe-4">
                  <a href="#" class="text-dark">
                    <i class="bi bi-basket fs-3 opacity-75"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample_2" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">قالب آی‌کالا طراحی توسط سئو نود</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body responsive-menu-body">
          <ul>
            <li>
              <a href="#">دسته بندی کالا ها</a>
              <ul>
                <li>
                  <a href="#">کالای دیجیتال</a>
                </li>
                <li>
                  <a href="#">موبایل</a>
                </li>
                <li>
                  <a href="#">خانه و آشپزخانه</a>
                </li>
                <li>
                  <a href="#">مد و پوشاک</a>
                </li>
                <li>
                  <a href="#">سوپرمارکت</a>
                </li>
                <li>
                  <a href="#">زیبایی و سلامت</a>
                </li>
                <li>
                  <a href="#">محصولات بومی</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">سوپرمارکت</a>
            </li>
            <li>
              <a href="#">پرفروش ترین ها</a>
            </li>
            <li>
              <a href="#">پیشنهادات</a>
            </li>
            <li>
              <a href="#">سوالی دارید؟</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample_3" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">پنل مدیریت قالب آی‌کالا </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="Panel-side-Access">
          <ul class="p-0 m-0 text-start">
            <li class="position-relative p-3 d-flex align-items-center">
              <img src="img/Avatar.png" alt="" class="rounded-circle me-1">
              <span>
                <a href="#" class="ms-2 pb-2 d-block text-dark opacity-75">سئو نود</a>
                <span class="d-block fs-13 opacity-75 ps-4">09028468446</span>
              </span>
            </li>
            <div class="d-flex align-items-center justify-content-between px-4 pt-3 pb-2">
              <span class="fs-13 opacity-75">
                <i class="bi bi-coin text-warning pe-1"></i> کیف پول </span>
              <span class="fs-12 Shabnam-e opacity-75">0 تومان</span>
            </div>
            <div>
              <a href="#" class="text-info fs-12 d-block px-4 mb-3 ps-5">طرح ویژه آی کالا</a>
            </div>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-shop"></i>
              <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">خلاصه فعالیت</a>
            </li>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-bag"></i>
              <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">سفارشات شما</a>
            </li>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-geo-alt"></i>
              <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">آدرس ها</a>
            </li>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-heart-fill text-danger"></i>
              <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">علاقمندی ها</a>
            </li>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-chat-right"></i>
              <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">دیدگاه های ثبت شده</a>
            </li>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-bell"></i>
              <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">پیغام ها</a>
              <span class="d-inline-block position-absolute end-0 bottom-0 m-3 Shabnam-e bg-danger px-2 text-light rounded text-center">3</span>
            </li>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-person"></i>
              <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">حساب کاربری شما</a>
            </li>
            <li class="position-relative px-3">
              <i class="fs-5 pe-1 bi bi-toggle-off"></i>
              <a href="#" class="ms-5 py-4 border-top border-light d-block text-dark"> خروج از سایت</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-xxl pt-5 border-top mt-2">
      <div class="row">
        <div class="col-md-4 col-lg-3 d-none d-md-inline-block">
          <aside>
            <div class="Panel-side-Access border rounded-8 pt-3">
              <ul class="p-0 m-0 text-start">
                <li class="position-relative p-3 d-flex align-items-center">
                  <img src="img/Avatar.png" alt="" class="rounded-circle me-1">
                  <span>
                    <a href="#" class="ms-2 pb-2 d-block text-dark opacity-75">سئو نود</a>
                    <span class="d-block fs-13 opacity-75 ps-4">09028468446</span>
                  </span>
                </li>
                <div class="d-flex align-items-center justify-content-between px-4 pt-3 pb-2">
                  <span class="fs-13 opacity-75">
                    <i class="bi bi-coin text-warning pe-1"></i> کیف پول </span>
                  <span class="fs-12 Shabnam-e opacity-75">0 تومان</span>
                </div>
                <div>
                  <a href="#" class="text-info fs-12 d-block px-4 mb-3 ps-5">طرح ویژه آی کالا</a>
                </div>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-shop"></i>
                  <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">خلاصه فعالیت</a>
                </li>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-bag"></i>
                  <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">سفارشات شما</a>
                </li>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-geo-alt"></i>
                  <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">آدرس ها</a>
                </li>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-heart-fill text-danger"></i>
                  <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">علاقمندی ها</a>
                </li>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-chat-right"></i>
                  <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">دیدگاه های ثبت شده</a>
                </li>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-bell"></i>
                  <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">پیغام ها</a>
                  <span class="d-inline-block position-absolute end-0 bottom-0 m-3 Shabnam-e bg-danger px-2 text-light rounded text-center">3</span>
                </li>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-person"></i>
                  <a href="#" class="ms-5 py-3 border-top border-light d-block text-dark">حساب کاربری شما</a>
                </li>
                <li class="position-relative px-3">
                  <i class="fs-5 pe-1 bi bi-toggle-off"></i>
                  <a href="#" class="ms-5 py-4 border-top border-light d-block text-dark"> خروج از سایت</a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="col-md-8 col-lg-9">
          <div class="border rounded-8 p-3 d-flex justify-content-between align-items-center mb-3 d-md-none w-100">
            <a data-bs-toggle="offcanvas" href="#offcanvasExample_3" aria-controls="offcanvasExample_3" class="text-dark d-inline-block px-2 mt-2">
              <i class="bi bi-list fs-4"></i>
            </a>
            <span class="opacity-75">منوی دسترسی</span>
          </div>
          <div class="border rounded-8 p-3">
            <div class="row">
              <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="d-inline-block py-3 border-bottom border-danger pe-2 mb-4"> سفارش های من </span>
                  <a href="#" class="fs-12 me-0 me-sm-4">مشاهده همه</a>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-3 mb-4 mb-sm-0">
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <i class="bi bi-basket fs-1 text-info"></i>
                  </div>
                  <div>
                    <span class="fs-5 mb-2 d-block">1 سفارش</span>
                    <span class="d-block opacity-75 ps-3"> جاری</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-3 mb-4 mb-sm-0">
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <i class="bi bi-bag fs-1 text-secondary"></i>
                  </div>
                  <div>
                    <span class="fs-5 mb-2 d-block">4 سفارش</span>
                    <span class="d-block opacity-75 ps-3"> تحویل شده</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-4 col-lg-3">
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <i class="bi bi-reply fs-1 text-danger"></i>
                  </div>
                  <div>
                    <span class="fs-5 mb-2 d-block">0 سفارش</span>
                    <span class="d-block opacity-75 ps-3"> مرجوع شده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-4">
      <div class="container-xxl">
        <div class="row align-items-center">
          <div class="col-sm-8">
            <div class="opacity-50 pb-4 Shabnam-e"> پشتیبانی 24 ساعته - 09028468446 | 7 روز هفته </div>
          </div>
          <div class="col-sm-4 pb-4 text-end">
            <span class="px-4 py-2 opacity-75 border fs-12 rounded scroll-top"> بازگشت به بالا </span>
          </div>
        </div>
        <div class="row justify-content-center justify-content-sm-start justify-content-md-center py-4">
          <div class="col-6 col-sm-3 col-md-2 my-2 my-md-0">
            <div class="text-center">
              <img src="img/Services/support.svg" alt="">
              <span class="opacity-75 pt-2 d-block fs-13"> پشتیبانی 24 ساعته </span>
            </div>
          </div>
          <div class="col-6 col-sm-3 col-md-2 my-2 my-md-0">
            <div class="text-center">
              <img src="img/Services/cash-on-delivery.svg" alt="">
              <span class="opacity-75 pt-2 d-block fs-13"> پرداخت در محل </span>
            </div>
          </div>
          <div class="col-6 col-sm-3 col-md-2 my-2 my-md-0">
            <div class="text-center">
              <img src="img/Services/original-products.svg" alt="">
              <span class="opacity-75 pt-2 d-block fs-13"> ضمانت اصالت </span>
            </div>
          </div>
          <div class="col-6 col-sm-3 col-md-2 my-2 my-md-0">
            <div class="text-center">
              <img src="img/Services/express-delivery.svg" alt="">
              <span class="opacity-75 pt-2 d-block fs-13"> تحویل اکسپرس </span>
            </div>
          </div>
          <div class="col-6 col-sm-3 col-md-2 my-2 my-md-0">
            <div class="text-center">
              <img src="img/Services/days-return.svg" alt="">
              <span class="opacity-75 pt-2 d-block fs-13"> بازگشت کالا </span>
            </div>
          </div>
        </div>
        <div class="row justify-content-center py-4">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center text-md-start my-3 my-sm-0">
            <span class="d-block fs-6 pb-2 opacity-75">خدمات مشتریان</span>
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="#">سئوالات متداول</a>
                </li>
                <li>
                  <a href="#">شرایط استفاده</a>
                </li>
                <li>
                  <a href="#">روش های بازگشت کالا</a>
                </li>
                <li>
                  <a href="#">حریم کاربران</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center text-md-start my-3 my-sm-0">
            <span class="d-block fs-6 pb-2 opacity-75">درباره ما</span>
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="#">تماس با ما</a>
                </li>
                <li>
                  <a href="#">اطلاعات فروشگاه</a>
                </li>
                <li>
                  <a href="#">خدمات عمده</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center text-md-start my-3 my-sm-0">
            <span class="d-block fs-6 pb-3 opacity-75">سایر خدمات</span>
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="#">فروشنده شوید</a>
                </li>
                <li>
                  <a href="#">پایگاه دانش</a>
                </li>
                <li>
                  <a href="#">همکاران</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-4">
            <div class="footer-apps">
              <div class="row justify-content-between pt-3 pt-md-0">
                <div class="col-lg-4 col-md-12 col-sm-4 col-4 my-1 text-center">
                  <a href="#">
                    <img src="img/coffe-bazzar.svg" alt="">
                  </a>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 col-4 my-1 text-center">
                  <a href="#">
                    <img src="img/sib-app.svg" alt="">
                  </a>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 col-4 my-1 text-center">
                  <a href="#">
                    <img src="img/google-play.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center pb-4">
          <div class="col-md-8 col-lg-7 border-top border-light pt-4">
            <div class="footer-textbox">
              <h1>ســـــایـــــت آموزشـــی ســئو نود</h1>
              <p>قالب آی کالا ( مشابه دیجی کالا ) توسط گروه آموزشی سئو نود ، یکی از مجموعه های بزرگ و فعال در زمینه ارائه دوره های آموزشی آنلاین طراحی سایت و برنامه نویسی ، طراحی شده و جهت استفاده کاربران عزیز در دو نسخه اچ تی ام ال و همچنین تم وردپرس ارائه شده است . قابلیت شخصی سازی این قالب بسیار بالا بوده و به بهترین شکل کدنویسی شده است تا سرعت بسیار بالایی داشته و واکنشگرایی فوق العاده کاربرپسند داشته باشد .</p>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 pt-4 pt-md-0">
            <div class="d-flex justify-content-center footer-logos">
              <figure class="m-0 p-3 border rounded mx-1">
                <img src="img/Namad/kasbokar.png" alt="">
              </figure>
              <figure class="m-0 p-3 border rounded mx-1">
                <img src="img/Namad/logo (1).png" alt="">
              </figure>
              <figure class="m-0 p-3 border rounded mx-1">
                <img src="img/Namad/rezi.png" alt="">
              </figure>
            </div>
          </div>
        </div>
        <div class="row align-items-center border-top">
          <div class="col-sm-6">
            <div class="opacity-50 fs-12 text-center text-sm-start pt-4">
              <span class="lh-lg"> تمامی حقوق این قالب محفوظ است </span>
            </div>
          </div>
          <div class="col-sm-6 text-center text-sm-end">
            <div class="opacity-50 fs-12 pt-4">
              <ul class="p-0 m-0">
                <li class="d-inline-block">
                  <a href="#" class="text-dark mx-1">
                    <i class="bi bi-instagram"></i>
                  </a>
                </li>
                <li class="d-inline-block">
                  <a href="#" class="text-dark mx-1">
                    <i class="bi bi-telegram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.simple.timer.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>