<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="css/bootstrap-icon.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="style.css">
    <title>ورود ثبت نام</title>
  </head>
  <body>
    <div class="container">
      <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-sm-6 col-md-5 col-lg-4">
          <div class="rounded-8 border py-3 px-4 my-5 my-md-0">
            <div class="logo-box">
              <img src="img/logo.png" alt="" class="mx-auto d-table my-3">
              <span class="fs-5 d-block my-4"> ورود و ثبت نام </span>
              <span class="d-block fs-13 py-1">سلام !</span>
              <span class="d-block fs-13 py-1">لطفا شماره موبایل خود را وارد کنید</span>
              <form action="">
                <input type="text" placeholder="مثال : 09028468446" class="w-100 my-4 Shabnam-e">
                <button class="w-100 bg-red-d text-light rounded-6">ورود</button>
              </form>
              <span class="d-block fs-12 py-3 opcity-75">ثبت نام شما به معنی پذیرش <a href="#">قوانین</a> است </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.simple.timer.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>