<!-- video_detail.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Video Detail</title>
</head>
<body>
    <h2>{{ video.video_title }}</h2>
    <p>{{ video.text }}</p>
    <!-- نمایش کامنت‌های ویدیو -->
    <ul>
        {% for comment in video.videocomment_set.all %}
            <li>{{ comment.text }}</li>
        {% endfor %}
    </ul>

    <!-- فرم ثبت کامنت ویدیو -->
    <form method="post">
        {% csrf_token %}
        {{ video_comment_form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>
</body>
</html>
